# Entorno virtual de Python
.venv/
venv/

# Archivos y directorios Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos y directorios de logs
*.log
logs/

# Archivos y directorios de migraciones
*/migrations/
*/migrations/__pycache__/

# Archivos de configuración de Django
dbDoctor.sqlite3
db.sqlite3